@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: auto;
  width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}
.page-header-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.navigation {
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-link {
  display: block;
  padding: 32px 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.navigation-user {
  max-width: 268px;
  margin-left: auto;
  min-width: 23px;
  min-height: 22px;
}
.main-index {
  color: #000000;
  background-color: #FFFFFF;
}
.hiro-block {
  min-height: 485px;
  margin: auto;
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg"), url("../images/divider.svg");
  background-position: center bottom, center;
  background-repeat: no-repeat;
}
.title-general {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.description-general {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}
.advantages {
  margin-bottom: 20px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.advantages-item {
  width: 400px;
}
.full-width {
  width: 100%;
  display: flex;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description {
  line-height: 21px;
  color: #333333;
  margin: 0;
}
.blue {
  text-align: center;
  background-color: #82B3D3;
}
.title-white {
  color: #FFFFFF;
}
.description-white {
  color: #FFFFFF;
}
.newsletter {
  min-height: 415px;
  margin: auto;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}
.newsletter-index {
  background-color: #82B3D3;
  background-image: url("../images/background-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.page-footer-title-index {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}
.page-footer-description-index {
  color: #FFFFFF;
}
.footer-contacts {
  width: 720px;
  margin-right: 142px;
}
.footer-social {
  max-width: 142px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social-item {
  width: 18px;
  height: 15px;
  margin-right: 27px;
  margin-bottom: 20px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}
.main-inner {
  padding-top: 35px;
}
.select-control {
  display: flex;
  margin-bottom: 16px;
  padding: 14px;
  width: 292px;
  margin-right: 338px;
}
.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin: 0;
  gap: 20px;
  padding: 0 70px;
  margin-bottom: 20px;
}
.product-card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
}
.product-card-link {
  grid-column: 1/-1;
}
.button-small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
.button-big {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.product-card-button-like {
  background-color: #82B3D3;
}
.button-reset {
  background-color: transparent;
}
.button-search {
  background-color: #756157;
  text-align: center;
}
.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin-top: 16px;
}
.product-card-description {
  text-align: left;
  color: #333333;
}
.product-card-price {
  margin-bottom: 24px;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
  display: flex;
}
.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}
