@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: auto;
  width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}
.page-header-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.navigation {
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-link {
  display: block;
  padding: 32px 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.navigation-user {
  max-width: 268px;
  margin-left: auto;
  min-width: 23px;
  min-height: 22px;

}
.navigation-item .search{
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-item .heart{
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-index {
  color: #000000;
}
.hiro-block {
  min-height: 485px;
  margin: auto;
  text-align: center;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
}
.title-general {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.description-general {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}
.advantages {
  margin-bottom: 20px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.advantages-item {
  box-sizing: border-box;
  width: 400px;
  text-align: center;
  padding: 92px 85px;
}
.full-width {
  width: 100%;
  display: flex;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description {
  line-height: 21px;
  color: #333333;
  margin: 0;
}
.blue {
  text-align: center;
  background-color: #82B3D3;
  padding: 92px 85px;
}
.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}
.lightest-blue {
  background-color: rgba(131, 179, 211, 0.12);
}
.title-white {
  color: #FFFFFF;
}
.description-white {
  color: #FFFFFF;
}
.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 96px 0;
}
.newsletter {
  box-sizing: border-box;
  padding: 96px 0 104px 0;
  min-height: 415px;
  margin: auto;
  text-align: center;
  color: #000000;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  min-height: 52px;
  text-align: center;
}
.field {
  box-sizing: border-box;
  width: 452px;
  padding: 14px 20px;
}
.newsletter-index {
  background-color: #82B3D3;
  background-image: url("../images/background-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.page-footer-title-index {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}
.page-footer-description-index {
  color: #FFFFFF;
}
.footer-contacts {
  width: 720px;
  margin-right: 142px;
}
.footer-social {
  max-width: 142px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px 70px 45px;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}
.main-inner {
  padding-top: 35px;
}

.inner-header {
  padding: 35px 70px 70px;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-position: center;
}

.catalog-filter {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px 40px;
}

.sort {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.sort-item {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

  background-position: center;
  background-repeat: no-repeat;
}

.cards {
  background-image: url("../images/icons/view-cards.svg");
}

.slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
}

.list {
  background-image: url("../images/icons/view-list.svg");
}

.select-control {
  display: flex;
  padding: 14px;
  width: 292px;
}
.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-item {
  margin-bottom: 16px;
}
.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  gap: 20px;
  padding: 0 70px;
  margin-bottom: 20px;
}
.product-card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 19px;
  row-gap: 16px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.product-card-link {
  grid-column: 1/-1;
}
.button-small {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 20px;
}
.top {
  margin-top: 14px;
}
.button-big {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
}
.product-card-button-like {
  background-color: #82B3D3;
}
.button-reset {
  background-color: transparent;
}
.button-search {
  background-color: #756157;
  text-align: center;
}
.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin-top: 16px;
}
.product-card-description {
  text-align: left;
  color: #333333;
  margin: 0;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
  display: flex;
  padding-left: 70px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
